<div class="container mt-5">
  <form class="row g-3" action="/answer">
    <div class="col-auto">
      <label for="text" class="visually-hidden">Question</label>
      <input type="text" class="form-control"  placeholder="Ask!" name="question">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Send it!</button>
    </div>
  </form>
</div>
